body{
font-family: Arial;
margin:0px;
background-color: #E4E6FB;
}
.navbar{
background-color: #007BA7;
margin-bottom: 10px
}

.navbar-left-side{
width: 40%;
color: white;
display: flex;
justify-content: space-around;
align-items: center;
}
.navbar-left-side h2{
margin: 0px;
margin-left: 10%;
font-size: 17px;
}
.input-icons i {
position: absolute;
padding: 10px;
}
.input-icons {
width: 200px;
}
.input-field {
border: 1px hidden;
border-radius: 15px;
background-color: #00416A;
width: 65%;
padding: 5px 0px 5px 5px;
text-align: left;
margin: 5px 0px;
font-size: 11px;
}

.mini-body{
width: 100%;
display: flex;
justify-content: center;
}
.major{
width: 75%;
display: flex;
color: #00416A;
}
.menu{
width: 13%
}
.menu p{
font-size: 12px;
}
.foto {
width: 100%;
background-color: white;
border-radius: 5px;
padding: 10px;
}
.foto button{
width: 100%;
font-size: 13px;
background-color: #E4E6FB;
border-radius: 5px;
border: 0px;
padding: 7px 0px;
color: #00416A;
}
.foto img{
width: 100%;
margin-bottom: 10px;
}
.foto-friends{
width 27%;
}
.friends{
width: 100%;
background-color: white;
border-radius: 5px;
padding: 20px 5px 10px 15px;
margin-top: 12px;
}
.dos {
display: flex;
}
.dos p {
margin: 0px 0px 20px 0px;
font-size: 15px;
}
.dos1{
font-size: 13px;
width: 30%;
}
.avatar{
text-align: center;
}
.avatar p{
margin: 1px 10px;
font-size: 12px
}
.avatar table{
margin-left: 10px;
}
.avatar img{
width: 45px;
border-radius: 30px;
margin: 0px 5px
}
.main-side{
margin-left: 30px;
width: 60%;
}
.about-user {
background-color: white;
border-radius: 5px;
padding: 20px 10px 0px 10px;
}
.about-user h3{
margin: 0px;

}
.fullName {
display: flex;
justify-content: space-between;
border-bottom: 1px solid  #E4E6FB;
padding-bottom: 20px;
margin-bottom: 20px;
}
.fullName p{
margin: 10px 0px;
}
.online{
margin: 0px;
font-size: 12px;
}

.questionnaire td{
width: 200px;
font-size: 13px;
}
.questionnaire{
border-bottom: 1px solid  #E4E6FB;
padding-bottom: 20px;
}
.statistics{
display: flex;
justify-content: center;
text-align: center;
font-size: 12px;
padding-bottom: 10px;
}
.statistics p{
font-size: 15px;
margin: 10px 20px
}

.number1{
padding: 10px 0px;
}
.number2{
padding: 10px;
}
.number3{
padding: 10px;
}
.number4{
padding: 10px;
}
.number5{
padding: 10px;
}
.number6{
padding: 10px;
}
.picture{
background-color: white;
border-radius: 5px;
padding: 10px 10px 0px 10px;
margin-top: 12px;
display: flex;
flex-wrap: wrap;
}
.myFoto{
width: 17%;
margin: 15px 0px 15px 0px;
font-size: 12px;
}
.san{
margin: 12px;
width: 70%;
}
.galery{
display: flex;
justify-content: space-between;
}

.picture img{
width: 130px;
margin: 5px 10px;
}
.galery1 img{
margin: 5px 10px 10px 5px;
}

.post{
background-color: white;
border-radius: 5px;
padding: 10px 10px 0px 10px;
margin-top: 12px;
}
.time{
display: flex;
}
.post img{
padding: 10px;
width: 9%;
height: 9%;
border-radius: 50px;
}

.post h5{
font-size: 12px;
margin: 15px 10px;
}

.post p{
font-size: 12px;
margin: 10px;
padding-bottom: 10px;
}

.text{
font-size: 11px;
line-height: 2.0;
}

